@import '../../../assets/variables.module.scss';

.ContentContainer {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  gap: 20px;
  font-weight: 700;
  font-size: 56px;
  line-height: 100%;
  letter-spacing: -2%;
  margin-bottom: 20px;

  @media (min-width: 1024px) {
    padding: 96px 0 185px 217px;
    font-size: 200px;
    line-height: 160px;
    margin-bottom: none;
  }
}

.DatesWrapper {
  display: flex;
  gap: 20px;
}

.FirstDate {
  color: var(--color-blue);

  @media (min-width: 1024px) {
    color: var(--color-dark-blue);
  }
}

.SecondDate {
  color: var(--color-pink);

  @media (min-width: 1024px) {
    color: var(--color-dark-pink);
  }
}

.GrayLine {
  height: 1px;
  background-color: var(--color-gray);
  margin-top: 57px;
  width: calc(100% - 40px);
}
