@font-face {
  font-family: "PT Sans Regular";
  src: url('../../src/styles/fonts/PTSans-Regular.ttf') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bebas Neue";
  src: url('../../src/styles/fonts/BebasNeue-Regular.ttf') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {

  --color-white: #fff;
  --color-pink: #E27FB4;
  --color-dark-pink: #DE67A6;
  --color-blue: #3877EE;
  --color-dark-blue: #5D5FE7;
  --color-gray: #C7CDD9;
  --color-text: #42567A;
  --color-circle-inactive: #808AA680;

  //  //50% of #42567A
  --color-inactive: rgba(66, 86, 122, 0.5);
  --color-background: rgb(244, 245, 249);
}

* {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

body {
  font-family: 'PT Sans Regular', serif;
  background-color: var(--color-background);

}

.demo-grid {
  padding-left: 15px;
  background-color: var(--color-background);

  @media (min-width: 1024px) {
    padding-left: 0;
  }
}
