.timeline-block__slider {
  position: relative;
}

.timeline-card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-left: 20px;

  @media (min-width: 1024px) {
    padding-left: 0;
  }
}

.timeline-card__date {
  font-family: "Bebas Neue", serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0;
  color: var(--color-blue);
  margin-top: 0;

  @media (min-width: 1024px) {
    font-size: 25px;
    padding-left: 80px;
    margin-top: 56px;
  }
}

.timeline-card__title {
  font-size: 14px;
  font-weight: 400;
  line-height: 145%;
  letter-spacing: 0;
  color: var(--color-text);
  margin: 0;

  @media (min-width: 1024px) {
    padding-left: 80px;
  }
}

.timeline-block__btn-for-slider {
  display: none;

  @media (min-width: 1024px) {
    display: flex;
  }
}

.timeline-block__for-mobile {
  display: flex;
  flex-direction: column;
  padding-top: 78px;
  padding-left: 0;

  @media (min-width: 1024px) {
    display: none;
  }
}

.timeline-block__nav-wrapper {
  display: flex;
  align-items: center;
  gap: 40px;
}

.timeline-block__nav-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  transform: translateY(-50%);
  color: var(--color-inactive);
  border: none;
  background: transparent;
  border-radius: 50%;
  cursor: pointer;
  width: 40px;
  height: 40px;
  transition: opacity 0.2s ease;
  z-index: 10;
}

.timeline-block__nav-btn--next {
  right: 10px;
}

.timeline-block__nav-btn.swiper-button-disabled {
  opacity: 0;
  pointer-events: none;
}

.timeline-block__pagination .swiper-pagination {
  position: static;
  margin-top: 16px;
  display: flex;
  justify-content: center;
  gap: 8px;

  @media (min-width: 1024px) {
    display: none;
  }
}

.swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  background-color: var(--color-inactive);
  opacity: 1;
  transition: background-color 0.2s ease;
  border-radius: 50%;
}

.swiper-pagination-bullet-active {
  background-color: var(--color-text);
}

