.timeline-block {
  position: relative;
  //width: min(720px, 92vw);
  //margin: 0 auto;
}

.timeline-block__header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 59px 0 56px 20px;

  @media (min-width: 1024px) {
    padding: 170px 0 0 78px;
  }
}

.timeline-block__title {
  position: relative;
  display: block;
  font-size: 20px;
  font-weight: 700;
  color: var(--color-text);
  line-height: 120%;
  letter-spacing: 0;
  white-space: normal;

  @media (min-width: 1024px) {
    font-size: 56px;

    &::before {
      content: "";
      position: absolute;
      left: -80px;
      top: 0;
      bottom: 0;
      width: 5px;
      height: 120px;
      background: linear-gradient(to bottom, #3877EE, #EF5DA8);
    }
  }
}

.timeline-block__title .second-word::before {
  content: "\A";
  white-space: pre;
}

.timeline-block__dial {
  border: 1px solid #8400ff;
  position: relative;
  height: 100vh;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.timeline-block__ring {
  border: 1px solid var(--color-text);
  position: relative;
  inset: 0;
  border-radius: 50%;
  width: 530px;
  height: 530px;
}

.timeline-block__dot {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transform: translate(-50%, -50%);

  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: var(--color-text);
  color: var(--color-text);
  cursor: pointer;
  transition: transform .15s ease, background .2s ease, box-shadow .2s ease;

  .timeline-block__label {
    position: absolute;
    left: 120%; // смещение вправо от точки
    top: 50%;
    transform: translateY(-50%);
    white-space: nowrap;
    color: var(--color-text);
    pointer-events: none; // чтобы не мешал клику
    font-size: 20px;
    line-height: 30px;
  }
}

.timeline-block__dot.is-active {
  border: 1px solid var(#303E5880);
  width: 56px;
  height: 56px;
  //изменить цвет background и бортик
  background-color: #F4F5F9;
}

.timeline-block__info {
  border: 1px solid red;
  position: absolute;
  //inset: 0;
  //display: grid;
  display: flex;
  place-items: center;
  pointer-events: none;

}

.timeline-block__years {
  border: 1px solid red;
  display: flex;
  // сделать их в центре
  //padding-left: 20px;
  gap: 60px;
  font-weight: 700;
  font-size: 56px;
  //line-height: 100%;
  //letter-spacing: -2%;
  //margin-bottom: 20px;

  @media (min-width: 1024px) {
    //padding: 96px 0 185px 217px;
    font-size: 200px;
    line-height: 160px;
    margin-bottom: 0;
  }

}

.timeline-block__firstDate {
  color: var(--color-blue);
  text-transform: uppercase;

  @media (min-width: 1024px) {
    color: var(--color-dark-blue);
  }
}

.timeline-block__secondDate {
  color: var(--color-pink);
  text-transform: uppercase;

  @media (min-width: 1024px) {
    color: var(--color-dark-pink);
  }
}

.timeline-block__label {
  color: var(--color-text);
  font-size: 20px;
  font-weight: 700;
  //text-transform: uppercase;
  border: 1px solid #ffea00;
  line-height: 30px;
  letter-spacing: 0;
}

.timeline-block__count {
  position: absolute;
  //right: 24px;
  //bottom: 24px;
  font-size: 20px;
  font-weight: 400;
  color: var(--color-text);
  border: 1px solid red;
  line-height: 30px;
  letter-spacing: 0;
}

.timeline-block__decor {
  position: absolute;
  opacity: .7;
  z-index: 0;
}

.timeline-block__decor--h {
  top: 50%;
  left: 0;
  right: 0;
  height: 1px;
  background-color: var(--color-text);
}

.timeline-block__decor--v {
  left: 50%;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: var(--color-text);
}

/* Слайдер */
.timeline-block__slider {

}

.timeline-card {
  display: flex;
  flex-direction: column;
  gap: 25px;

  @media (min-width: 1024px) {
    gap: 80px;
  }
}

.timeline-card__date {
  //font-variant-numeric: tabular-nums;
  //font-size: 12px;
  //color: var(--muted);
  border: 1px solid blue;
  font-family: "Bebas Neue", serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0;
  color: var(--color-blue);
  padding: 0 0 15px 20px;

  @media (min-width: 1024px) {
    font-size: 25px;
    padding-left: 80px;
  }


}

.timeline-card__title {
  //font-size: 16px;
  //margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 145%;
  letter-spacing: 0;
  color: var(--color-text);
  padding-left: 20px;

  @media (min-width: 1024px) {
    padding-left: 80px;
  }
}

//.timeline-card__desc {
//  color: #cfd4e6;
//  font-size: 14px;
//  margin: 0;
//}

.timeline-block__nav {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
  margin-top: 12px;
  border: 1px solid red;
}

.timeline-block__nav-btn {
  color: var(--color-btn);
  border: 1px solid var(--color-btn);
  border-radius: 50%;
  cursor: pointer;
  width: 25px;
  height: 25px;

  @media (min-width: 1024px) {
    width: 50px;
    height: 50px;
  }
}

.timeline-block__pagination {
  color: red;
}

/* Accessibility helper */
.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
  border: 1px solid red;

}
