.timeline-block {
  position: relative;
  border: none;
  //width: min(720px, 92vw);
  //margin: 0 auto;

  @media (min-width: 1024px) {
    border-left: 1px solid var(--color-inactive);
    border-right: 1px solid var(--color-inactive);
  }
}

.timeline-block__header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 59px 0 56px 0;

  @media (min-width: 1024px) {
    padding: 170px 0 0 78px;
  }
}

.timeline-block__title {
  position: relative;
  display: block;
  font-size: 20px;
  font-weight: 700;
  color: var(--color-text);
  line-height: 120%;
  letter-spacing: 0;
  white-space: normal;

  @media (min-width: 1024px) {
    font-size: 56px;

    &::before {
      content: "";
      position: absolute;
      left: -80px;
      top: 0;
      bottom: 0;
      width: 5px;
      height: 120px;
      background: linear-gradient(to bottom, #3877EE, #EF5DA8);
    }
  }
}

.timeline-block__title .second-word::before {
  content: "\A";
  white-space: pre;
}

.timeline-block__dial {
  position: relative;
  height: 20vh;
  display: grid;
  place-items: center;
  overflow: hidden;

  @media (min-width: 1024px) {
    height: 100vh;
  }
}
.timeline-block__content {
  transform: rotate(var(--ring-counter-rot-deg));
  transform-origin: center;
}

.timeline-block__ring.is-animating .timeline-block__label {
  display: none;
}
.timeline-block__ring {
  display: none;
  border: 1px solid var(--color-inactive);
  position: relative;
  inset: 0;
  border-radius: 50%;
  width: 530px;
  height: 530px;
  z-index: 20;

  --ring-rot-deg: 0deg;
  --ring-counter-rot-deg: 0deg;

  @media (min-width: 1024px) {
    display: block;
  }
}

.timeline-block__dot.is-active {
  border: 1px solid var(--color-circle-inactive);
  width: 56px;
  height: 56px;
  background-color: var(--color-white);
}

.timeline-block__dot.is-rotating .timeline-block__label {
  display: none;
}

.timeline-block__dot span {
  display: block;
  transform: rotate(0deg);
}

.timeline-block__dot {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transform: translate(-50%, -50%);
  border: 1px solid var(--color-circle-inactive);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: var(--color-text);
  color: var(--color-text);
  cursor: pointer;
  transition: transform .15s ease, background .2s ease, box-shadow .2s ease;
  z-index: 5;

  &:hover {
    width: 56px;
    height: 56px;
    background-color: var(--color-white);
    border: 1px solid var(--color-circle-inactive);
    z-index: 5;
  }

  .timeline-block__label {
    position: absolute;
    left: 550%; // смещение вправо от точки
    top: 50%;
    transform: translateY(-50%);
    white-space: nowrap;
    color: var(--color-text);
    pointer-events: none; // чтобы не мешал клику
    font-size: 20px;
    line-height: 30px;
  }
}

.timeline-block__info {
  position: absolute;
  display: flex;
  place-items: center;
  pointer-events: none;
  z-index: 1;
}

.timeline-block__years {
  display: flex;
  gap: 40px;
  font-weight: 700;
  font-size: 56px;
  margin-bottom: 57px;

  @media (min-width: 1024px) {
    font-size: 200px;
    line-height: 160px;
    margin-bottom: 0;
    gap: 60px;
  }
}

.eventslider-block{
  border: 1px solid red;
}

.timeline-block__firstDate {
  color: var(--color-blue);
  text-transform: uppercase;

  @media (min-width: 1024px) {
    color: var(--color-dark-blue);
  }
}

.timeline-block__secondDate {
  color: var(--color-pink);
  text-transform: uppercase;

  @media (min-width: 1024px) {
    color: var(--color-dark-pink);
  }
}

.timeline-block__label {
  color: var(--color-text);
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0;
}

.timeline-block__count {
  position: absolute;
  //right: 24px;
  //bottom: 24px;
  font-size: 20px;
  font-weight: 400;
  color: var(--color-text);
  border: 1px solid red;
  line-height: 30px;
  letter-spacing: 0;
}

.timeline-block__mobile-divider {
  position: relative;
  width: 280px;
  height: 1px;
  background: var(--color-gray);
  top: 57px;


  @media (min-width: 1024px) {
    display: none;
  }
}

.timeline-block__decor {
  //position: absolute;
  opacity: .7;
  z-index: 0;
}

.timeline-block__decor--h {
  display: none;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 1px;
  background-color: var(--color-inactive);

  @media (min-width: 1024px) {
    display: block;
  }
}

.timeline-block__decor--v {
  display: none;
  position: fixed;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: var(--color-inactive);

  @media (min-width: 1024px) {
    display: block;
  }
}

.timeline-block__slider {

}


.timeline-block__nav {
  display: flex;
  gap: 8px;

  @media (min-width: 1024px) {
    gap: 20px;
    padding-left: 80px;
  }
}

.timeline-block__nav-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-inactive);
  border: 1px solid var(--color-inactive);
  background: transparent;
  border-radius: 50%;
  cursor: pointer;
  width: 25px;
  height: 25px;
  line-height: 1;

  @media (min-width: 1024px) {
    width: 50px;
    height: 50px;
  }
}

.timeline-block__nav-btn {
  color: var(--color-text)
}

.chev {
  display: block;
  margin: auto;
}

.timeline-block__pagination {
  .swiper-pagination {
    @media (min-width: 1024px) {
      display: none;
    }
  }
}

.swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  background-color: var(--color-inactive);
  opacity: 1;
  transition: background-color 0.2s ease;
  gap: 10px;

  &.swiper-pagination-bullet-active {
    background-color: var(--color-text);
  }
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}
