@import '../../../assets/variables.module.scss';

.HeaderContainer {
  display: flex;
  padding: 59px 0 56px 20px;
}

.HeaderText {
  display: flex;
  font-size: 20px;
  font-weight: 700;
  color: var(--color-text);
  line-height: 120%;
}
